/* Overall good practive - not column related but specialy relevant inside columns */
.cob-app .instance-detail-container div.instance-container ol.fields > li > table > tbody > tr > td:nth-child(1) {
    min-width: 70px;
}
.cob-app .instance-detail-container div.instance-container ol.fields > li > table > tbody > tr > td:nth-child(2) {
    min-width: 160px;
}
/* 
 * Removido porque estraga, pelo menos, os $radio
.cob-app .instance-detail-container div.instance-container ol.fields  li > table > tbody > tr > td:nth-child(3),
.cob-app .instance-detail-container div.instance-container ol.fields  li > table > tbody > tr > td:nth-child(3) input {
    max-width: 230px;
    width: -webkit-fill-available;
} */

/*
* estes defaults não são bons pq fazem desaparecer o menu de importações onde pode não haver alternativa de acesso
Vou desactivar isto enquanto não se repensar nputra solução
.cob-app .nav > li > a.js-menu-rm-importer-stats,
.cob-app .nav > li > a.js-menu-reports {
  display:none
}
*/

/** Class to remove default style for $group **/
.cob-app .instance-detail-container .instance-container .fields-container li.field-group.custom-no-style > ol.fields {
    background-color: none;
    margin:0px;
    border: none;
    display: unset !important;
    visibility: unset !important;
  }
  .cob-app .instance-detail-container .instance-container .fields-container li.field-group.custom-no-style > ol.fields > li {
    padding: 0;
  }
  
  .cob-app .instance-detail-container .instance-container .fields-container li.field-group.custom-no-style > table {
    display: none;
  }