*{
	--cob-color-red: #CC1747;
	--cob-orange: #FE7700;
	--cob-purple: #502499; 
	--cob-blue: #00B7E4;
	--cob-color-black: black; 
	--cob-color-main: var(--cob-color-red);
  
}


/* *************** $style[grupo] ******************* */
.custom-grupo > table .legend{
    background-color: var(--cob-color-main);
    color:white;
    padding-left:5px;
  }
  
  .cob-app .custom-subgrupo > table .legend {
    color: var(--cob-color-main);
    background-color: transparent;
    border-bottom: solid 2px !important;
  }
   

  /* *************** $style[grupo-red] ******************* */
.custom-grupo-red > table .legend{
    background-color: var(--cob-color-red);
    color:white;
    padding-left:5px;
  }
  
  .cob-app .custom-subgrupo-red > table .legend {
    color: var(--cob-color-red);
    background-color: transparent;
    border-bottom: solid 2px !important;
  }
   
  /* *************** $style[grupo-orange] ******************* */
  .custom-grupo-orange > table .legend{
    background-color: var(--cob-orange);
    color:white;
    padding-left:5px;
  }
  
  .cob-app .custom-subgrupo-orange > table .legend {
    color: var(--cob-orange);
    background-color: transparent;
    border-bottom: solid 2px !important;
  }
   

    /* *************** $style[grupo-purple] ******************* */
.custom-grupo-purple > table .legend{
    background-color: var(--cob-purple);
    color:white;
    padding-left:5px;
  }
  
  .cob-app .custom-subgrupo-purple > table .legend {
    color: var(--cob-purple);
    background-color: transparent;
    border-bottom: solid 2px !important;
  }
   

    /* *************** $style[grupo-blue] ******************* */
.custom-grupo-blue > table .legend{
    background-color: var(--cob-blue);
    color:white;
    padding-left:5px;
  }
  
  .cob-app .custom-subgrupo-blue > table .legend {
    color: var(--cob-blue);
    background-color: transparent;
    border-bottom: solid 2px !important;
  }

  /* *************** $style[grupo-black] ******************* */
.custom-grupo-black > table .legend{
    background-color: var(--cob-color-black);
    color:white;
    padding-left:5px;
  }
  
  .cob-app .custom-subgrupo-black > table .legend {
    color: var(--cob-color-black);
    background-color: transparent;
    border-bottom: solid 2px !important;
  }
   
