/* $style[hide-in-group-edit] */
/* $style[hide-in-new-instance] */
/* $style[hide-inline] */
/* $style[hide] */

.instance-detail-container.js-group-edit-container .custom-hide-in-group-edit,
.instance-detail-container.js-instance-details-container:not(.js-group-edit-container) .custom-hide-in-edit,
.instance-detail-container:not(.js-group-edit-container) #service--1 .custom-hide-in-new-instance,
.js-references-new-wrapper .custom-hide-inline,
.custom-hide {
  background-color: rgba(255,0,0,0.05) !important; /* Tom de vermelho para assinalar que estes campos estão escondidos */
  display: var(--dev-display, none);  /* pode ser ligado via botão colocado pelo js/cob/_show_hidden.js */
}

/* $style[hide-children] */
.custom-hide-children ol.fields{
  display: var(--dev-display, none);
}

/* $style[hide-expand-btn] */
.custom-hide-expand-btn > table > tbody > tr > td > div span.toggle-button,
.custom-hide-expand-btn > table > tbody > tr > td > span.toggle-button{
  display: var(--dev-inline-display, none);
}