@media screen and (max-width:767px) {
   /* *************** Para impedir o resize dos inputs nos telemóveis ******************* */
   input, select,textarea {
      font-size: 16px !important;
   }
   .dashboard .board {
      min-height: 20px !important;
   }

   .cob-app .row, .cob-app .thumbnails {
       margin-left: 1px;
       margin-top: -5px;
   }

   /* *************** Melhores Buttons ******************* */
   .cob-app .search-definition .results-container .mass-options button {
       display: inline;
       margin-bottom: 2px;
   }

   /* *************** Melhor sidenav ******************* */
   .cob-app section {
      top: 70px;
   }

   .sidenav .left-aligned.left-spaced.padding-5px {
      position: absolute;
      top: 64px;
      right: 0px;
      text-align: right;
      margin-right: 21px;
   }

   .js-group-edit-container .sidenav .left-aligned.left-spaced.padding-5px {
      top: 122px;
   }

   .sidenav .space {
      height:5px !important;
   }

   .cob-app .instance-detail-container .instance-container .fields-container {
      border-top: solid 1px;
      margin-top: -10px;
      padding-top: 8px;
   }

   /* *************** Centrar input dos $ref correctamente ******************* */
   .cob-app .input-append, .cob-app .input-prepend {
      margin-bottom: 0px;
   }

   /* *************** Para ter uma tabela melhor nos telemóveis ******************* */
   .cob-app .instance-detail-container div.instance-container ol.fields {
      width:98%;
   }
   ol.fields table > tbody > tr > td:nth-child(1) {
      min-width:30px !important;
      width:30px !important;
      max-width:30px !important;
   }
   ol.fields table > tbody > tr > td:nth-child(2),
   ol.fields table > tbody > tr > td:nth-child(2) label {
      min-width: 100% !important;
      font-size: 1.25rem !important;
      line-height: 1.75rem !important;
   }
   .cob-app .instance-detail-container ol.fields table > tbody > tr > td:nth-child(3) > div > input,
   .cob-app .instance-detail-container ol.fields table > tbody > tr > td:nth-child(3) > div > span > input {
      min-width: 97% !important;
      max-width: none !important;
      font-size: 1.25rem !important;
   }
   .cob-app .instance-detail-container ol.fields table > tbody > tr > td:nth-child(3) > input,
   .cob-app .instance-detail-container ol.fields table > tbody > tr > td:nth-child(3) > label,
   .cob-app .instance-detail-container ol.fields table > tbody > tr > td:nth-child(3) > div.instance-container > span,
   .cob-app .instance-detail-container ol.fields table > tbody > tr > td:nth-child(3) > div.instance-container  > input,
   .cob-app .instance-detail-container ol.fields table > tbody > tr > td:nth-child(3) > div.inline > input,
   .cob-app .instance-detail-container ol.fields table > tbody > tr > td:nth-child(3) > div > textarea {
      min-width: 97% !important;
      max-width: none !important;
      font-size: 1.25rem !important;
   }

   .cob-app .instance-detail-container ol.fields table > tbody > tr > td:nth-child(3) > div.inline  > select {
      min-width:100% !important;
      max-width:190px !important;
      font-size: 1.25rem !important;
   }
   .cob-app .instance-detail-container ol.fields table > tbody > tr > td:nth-child(4) {
      display: none;
   }

   /* selects constantes */
   .cob-app .instance-detail-container ol.fields table > tbody > tr > td:nth-child(3) > div.inline > select,
   .cob-app .instance-detail-container select {
      min-width: 188px !important;
      max-width: 188px !important;
   }
   /* identação nas hierarquias mínimas */
   .cob-app .instance-detail-container div.instance-container ol.fields {
      margin-left: -1px;
      margin-right:0px;
      width: 100%
   }
   .cob-app .instance-detail-container div.instance-container ol.fields > li {
      padding-left: 1px;
   }


   /* New css for mobile instance viewing */
   .cob-app .instance-detail-container .instance-container {
      padding-bottom: 100px !important;
   }

   /* handles markdown boxes */
   .cob-app .custom-comentarios .markdown-container,
   .cob-app .markdown-container {
      max-width: none !important;
      min-width: 0px !important;
      width: 100% !important;
      font-size: 1.25rem !important;
   }

   ol>li:not(.field-group)>table>tbody>tr {
      display: flex;
      flex-direction: column;
   }

   ol>li:not(.field-group)>table>tbody>tr>td {
      display: flex;
      flex-direction: column;
      width: 100% !important;
   }

   /* removes borders/outlines */
   .cob-app .instance-detail-container div.instance-container ol.fields {
      margin: none;
      border: none;
      -webkit-border-radius: none;
      background-color: initial;
   }

   .cob-app .instance-detail-container div.instance-container ol.fields>li.custom-comentarios.custom-novo:before {
      font-size: 1.25rem !important;
   }

   /** groups */
   .cob-app .instance-container .legend {
      padding-top: 2px !important;
      padding-bottom: 2px !important;
      font-size: 1.25rem !important;
      border-radius: 0.5rem;
   }


   /* buttons */
   .cob-app button.btn.btn-small {
      font-size: 15px !important;
      padding-top: 12px;
      padding-bottom: 12px;
   }

   .cob-app .instance-detail-container .control-group.file .controls {
      display: flex;
      flex-direction: column;
   }

   /* Hide draggable handlers */
   .cob-app .instance-detail-container div.instance-container ol.fields span.drag-handle {
      display: none;
      visibility: hidden;
   }

   /* Make the duplicate button bigger */
   .cob-app .instance-detail-container div.instance-container ol.fields span.duplicate-button {
      min-width: fit-content !important;
      font-size: 25px !important;
      padding: 5px !important;
   }   
}

@media (max-width: 585px) {
   /* *************** Para alinhar melhor as opções do menu em mobile ******************* */
   .cob-app #header .app-menus,
   .cob-app #header .cobapps-menus {
     margin-left: unset;
   }   
   .cob-app #header .nav > li {  
     text-align:right
   }
}

@media (hover: none) and (pointer: coarse) {
   /* *************** Aumentar o tamanho dos botões + e - em ecrãs tácteis ******************* */
   .js-advanced-field-add,
   .js-advanced-field-remove {
      font-size: 2em !important;
   }
}