:root {
	--radio-width-xs: 5px;
	--radio-width-sm: 10px;
	--radio-width-md: 20px;
	--radio-width-base: 30px;
    --radio-width-lg: 40px;
    --radio-width-xl: 50px;
  }


/* For  $style[radio-1line] in addition to $radio */
ol.fields>li.custom-radio-1line>table label {
    min-width: 100%
}

/* For  $style[radio-compact] in addition to $radio */
.cob-app .instance-detail-container div.instance-container ol.fields>li.custom-radio-compact>table td:nth-child(3) label {
    margin-right: 10px;
    width: var(--radio-width-base);
    display: inline-flex;
}

/* For  $style[radio-compact-xl] in addition to $radio */
.cob-app .instance-detail-container div.instance-container ol.fields>li.custom-radio-compact-xl>table td:nth-child(3) label {
    margin-right: 10px;
    width: var(--radio-width-xl);
    display: inline-flex;
}

/* For  $style[radio-compact-lg] in addition to $radio */
.cob-app .instance-detail-container div.instance-container ol.fields>li.custom-radio-compact-lg>table td:nth-child(3) label {
    margin-right: 10px;
    width: var(--radio-width-lg);
    display: inline-flex;
}


/* For  $style[radio-compact-md] in addition to $radio */
.cob-app .instance-detail-container div.instance-container ol.fields>li.custom-radio-compact-md>table td:nth-child(3) label {
    margin-right: 10px;
    width: var(--radio-width-md);
    display: inline-flex;
}

/* For  $style[radio-compact-sm] in addition to $radio */
.cob-app .instance-detail-container div.instance-container ol.fields>li.custom-radio-compact-sm>table td:nth-child(3) label {
    margin-right: 10px;
    width: var(--radio-width-sm);
    display: inline-flex;
}

/* For  $style[radio-compact-xs] in addition to $radio */
.cob-app .instance-detail-container div.instance-container ol.fields>li.custom-radio-compact-xs>table td:nth-child(3) label {
    margin-right: 10px;
    width: var(--radio-width-xs);
    display: inline-flex;
}

.cob-app .instance-detail-container div.instance-container ol.fields>li.custom-radio-compact>table td:nth-child(3) label > input {
    margin-top: 4px;
    width: 14px;
    height: 14px;
}

/* For  $style[radio-fit-content] in addition to $radio */
.cob-app .instance-detail-container div.instance-container ol.fields>li.custom-radio-fit-content>table td:nth-child(3) div.radiogroup {
    width: fit-content;
}