/* For  $style[radio-1line] in addition to $radio */
ol.fields>li.custom-radio-1line>table label {
    min-width: 100%
}

/* For  $style[radio-compact] in addition to $radio */
.cob-app .instance-detail-container div.instance-container ol.fields>li.custom-radio-compact>table td:nth-child(3) label {
    width: 30px;
}

/* For  $style[radio-fit-content] in addition to $radio */
.cob-app .instance-detail-container div.instance-container ol.fields>li.custom-radio-fit-content>table td:nth-child(3) div.radiogroup {
    width: fit-content;
}